{% extends 'reset_password/baseReset.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container">
        <p class="fw-normal text-center ">
            Si un compte correspondant à votre adresse e-mail, alors un e-mail vient d'être envoyé contenant un lien pour réinitialiser votre mot de passe.
        </p>
        <h5  class="text-center font-weight-bold">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</h5>
        <p class="fw-normal text-center pt-3">Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable (spam) ou <a href="{{ path('app_forgot_password_request') }}" style="color: #00CC94" class="font-weight-bold">réessayer</a>.</p>
    </div>
{% endblock %}
