{% extends 'reset_password/baseReset.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px">Il vous reste plus que trouver votre nouveau mot de passe &#128512</h3>

    {{ form_start(resetForm) }}
    <div class="form-group">
        {{ form_row(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

    </div>
        <button class="btn btn-lg btn-block btn-co mt-5" style="width: 33vw">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
