{% extends 'base.html.twig' %}

{% block title %}Edit Colloque{% endblock %}

{% block body %}
    <h1>Edit Colloque</h1>

    {{ include('colloque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('colloque_index') }}">back to list</a>

    {{ include('colloque/_delete_form.html.twig') }}
{% endblock %}
