{% extends 'base.html.twig' %}

{% block title %}New Colloque{% endblock %}

{% block body %}
    <h1>Create new Colloque</h1>

    {{ include('colloque/_form.html.twig') }}

    <a href="{{ path('colloque_index') }}">back to list</a>
{% endblock %}
