<div id="header-title">
    <a href="">
        <h2 > Popular Culture Association of France</h2>
        <p>Association Française d'Etude des Cultures Populaires</p>
        <hr id="header-title-bar">
    </a>
    <img id="logo-header" src=http://pcaof.com/wp-content/themes/themepcaof/img/logomasquecouleurs.jpg" alt="Logo">
</div>
<header>
    <div id="navbar">
        <a id="navbar-revues" class="navbar-select" href="">Revues</a>
        <a id="navbar-colloque" class="navbar-select" href="">Colloques</a>
        <a id="navbar-publi" class="navbar-select" href="">Publications</a>
        <a id="navbar-adherent" class="navbar-select" href="">Adhérent</a>
    </div>
</header>
