{% extends 'base.html.twig' %}

{% block title %}<title> Membre | PCAoF</title>{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1>Devenir Membre</h1>
        <p>L’adhésion à l’association PCAoF est obligatoire pour les membres du CA et les participant.e.s au.x colloque.s,
            et plus que bienvenue pour toutes les personnes intéressées par la culture populaire et désireuses de soutenir
            notre engagement et notre projet.</p>

        <p>Pour concrétiser votre adhésion en ligne, veuillez suivre le lien ci-dessous :</p>
        <div class="d-flex justify-content-center">
            <iframe loading="lazy" width="950" height="750" src="https://popular-culture-association-of-france-pcaof.s2.yapla.com/fr/popular-culture-association-of-france-59"></iframe>
        </div>
    </section>
{% endblock %}
