@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    padding : 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

h1{
    font-family: 'Passion One', cursive;
}
p, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}
/******************footer********************/
.main-footer {
    background-color: #004E5A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.back-footer{
    width: 100%;
    height: 3em;
    background-color: #023239FF;
}
.back-footer p, .back-footer p, .back-footer a{
    color: white;
    font-size: 14px;
    font-family: Helvetica;
}
.back-footer i{
    font-size: 1.4em;
    padding: 0 10px 0 10px;
    transition: 0.5s;
}
.back-footer a:hover{
    color: #00CC94;
}
.custom-align{
    background-color: white;
    display: flex;
    height: 20px;
    border-radius: 20px;
}
#lien_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lien_footer_in {
    text-decoration: none;
    color: white;
    font-family: merriweather, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    transition: 0.5s;
}
.lien_footer_in:hover{
    color: #00CC94;
}
#bouton-contact{
    text-decoration: none;
    background-color:white ;
    border-color: white;
    border-radius: 20px;
    color: #004E5A;
    margin-left: 15%;
    padding:0.5% 7%;
    height: 70%;
    display:flex;
    align-items: center;
    transition: 0.5s;
}
#bouton-contact:hover {
    background-color: #04414d;
    border-color: #04414d;
    color: white;
}


a {
    text-decoration: none;
}

/*****************header***************/
#header-title {
    margin-left :1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header-title a{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#header-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Passion One, sans-serif;
    font-weight: bold;
    /*font-size: 2.2em;*/
    color: #004E5A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-title p {
    font-family: "merriweather", sans-serif;
    margin-top: 0;
    color: #00CC94;
}

#header-title-bar {
    background-color: #00CC94;
    margin-top: 0;
    padding-bottom: 0.5%;
    border: 3px;
    width:80%;
}


#logo-header{
    margin: 1%;
    width: 20%;
}

/*navbar*/

#navbar{
    height: 4em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #004E5A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.navbar-select{
    padding-right: 9%;
    padding-left:9%;
    color:white;
    border-right: solid;
    border-right-width: 3px;
    border-right-color: white;
    transition: 0.5s;
}
.navbar-select:hover {
    color: #00CC94;
}

#navbar-adherent{
    border-right: transparent;
}

#menuDrop{
    width: 100%;
}


#menuDrop li {
    text-align: center;
}

/*Accueil*/

.blocBleu{
    color: white;
    background-color: #004E5A;
    padding-left: 3%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    width: 35vw;
    justify-content: center;
}
#blocBleuRevue{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.blocBleuColloque{
    margin-top:30px;
}
.blocBleuColloque , .blocBleuPubli{
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}
.LastPubliRevuesAccueil {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.lastRevueAcceuil{
    margin: 0;
}
.bloc-ombre {
    color: #004E5A;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 5% 10%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
    box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
}

#revue-home-img{
    width:30%;
}

#revue-home:hover{
    background-color: rgba(0, 78, 90, 0.3);
}
#publi-home:hover{
    background-color: #004E5A;
    color:white;
}
#publi-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#revue-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colloque-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#revue-home-text{
    display: flex;
    justify-content: space-evenly;
}
#revue-home:hover{
    color: #004E5A;
}

.lastPubliAcceuil{
    margin: 0;
}

.blocPresentationAcceuil{
    padding : 5%;
}
.titreObj{
    color: #004E5A;
    font-size: 25px;
    font-weight: bold;
}
.blocAvecToutDedans{
    box-shadow: 0px 0px 5px #4b5563;
    margin: 20px auto;
    padding: 0;
    border-radius:15px ;
    width: 80vw;
}
.dateAccueil{
    display: flex;
    justify-content: center;
}
.lastNomAcceuil{
    width: 35vw;
    margin: 0;
    display: flex;
    justify-content: center;
}
.titre-publi-revue{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.bouton-colloque-home{
    text-decoration: none;
    background-color: #004E5A ;
    border-radius: 20px;
    color: white;
    margin-bottom: 3%;
    padding:1.5% 7%;
    height: 70%;
    display:flex;
    align-items: center;
    transition: 0.5s;
    border: solid #004E5A 1.50px;
}
.bouton-colloque-home:hover {
    background-color: white;
    border: solid #004E5A 1.50px;
    color: #004E5A;
}
.bloc-colloque-theme-date-place-home{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-size: 100%;
}
.bloc-colloque-date-place-home{
    display: flex;
    flex-flow: column nowrap;
    font-size: 80%;
}
.nom-colloque{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#colloque-place-home{
    color: #6999A0;
}


/*Style Page Mentions Légales*/

.div-ml{
    margin: 3em;
    position: relative;
}
.div-ml h2{
    margin: 15px 0 1.2em 0;
    font-weight: bold;
}
.div-ml a{
    color: #00CC94;
    font-weight: bold;
}
.div-ml ul li{
    margin-top: 0px;
    margin-bottom: 10px;

}
.div-ml ul li span{
    color: #04414d;
    font-size: 1.2em;
    font-weight: bold;
}
.div-ml p, .div-ml ul li{
    font-size: 1.1em;
}
.div-ml ul li p span{
    color: #0e7490;
}

/* Style Page co et reset MDP*/
.btn-co{
    background-color: #04414d;
    color: white;
    transition: 0.5s;
}
.btn-co:hover{
    background-color: #00CC94;
}
.noHighlight:hover{
    text-decoration: none;
}
#liste-bloc-revue{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-revue{
    font-size: 80%;
    margin: 0;
}
.bloc-revue:hover {
    background-color: rgba(0, 78, 90, 0.3);
}
#revue-title-bar{
    background-color: #004E5A;
    margin-top: 0;
    padding-bottom: 0.5%;
    border: 3px;
    width:80%;
}
.bloc-revue-articles{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #004E5A;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 5% 10%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
    box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
}
.revue-resume{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}
.revue-liste-article-infos{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#liste-bloc-revue:hover{
    background-color: rgba(0, 78, 90, 0.3);
}
.liste-bloc-article p{
    color: #004E5A;
    margin:0;
}
#bloc-liste-article-revue{
    margin:15px;
}
#bloc-liste-article-revue:hover{
    background-color: rgba(0, 78, 90, 0.3);
}
#bloc-bar-revue{
    display: flex;
    justify-content: center;
}
#revue-article-bar {
    display: flex;
    align-items: center;
    background-color:#004E5A;
    margin-top: 0;
    padding-bottom: 0.5%;
    border: 3px;
    width:80%;
}
@media screen and (max-width: 900px)
{
    #header-title h2 {
        font-size: 1.2em;
    }
    #header-title p {
        font-size: 0.7em;
    }
    #header-title {
        flex-direction: column;
    }
    #header-title a {
        justify-content: center;
        align-items: center;
        display: none;
    }
    #logo-header {
        width: 10em;
        margin:15px auto;
    }
    #navbar {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .navbar-select {
        border-right: transparent;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 0.9em;
    }
    .LastPubliRevuesAccueil{
        display: flex;
        flex-flow: column nowrap;
    }
    .blocLastPubliAcceuil p{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .blocBleu{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .blocBleuPubli,.blocBleuColloque,#blocBleuRevue{
        border-radius:0;
    }
    .blocAvecToutDedans{
        box-shadow: 0px 0px 0px #4b5563;
        margin: 0px;
        width: 100%;
    }
    .publi-home-text{
        width: 100%;
    }
}


