@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    padding : 0;
    margin: 0;
}
/*footer*/

.custom-footer {
    background-color: #004E5A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.custom-align {
    background-color: white;
    display: flex;
    height: 20px;
    border-radius: 20px;

}
#lien_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lien_footer_in {
    text-decoration: none;
    color: white;
    font-family: merriweather, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}
.lien_footer_in:hover{
    color: #00CC94;
}
#bouton-contact{
    background-color:white ;
    border-color: white;
    border-radius: 20px;
    color: #004E5A;
    margin-left: 15%;
    padding:0.5% 7%;
    height: 70%;
    display:flex;
    align-items: center;
}
#bouton-contact:hover {
    background-color: #04414d;
    border-color: #04414d;
    color: white;
}


a {
    text-decoration: none;
}

/*header*/
#header-title {
    margin-left :1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header-title a{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#header-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Passion One, sans-serif;
    font-weight: bold;
    /*font-size: 2.2em;*/
    color: #004E5A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-title p {
    font-family: "merriweather", sans-serif;
    margin-top: 0;
    color: #00CC94;
}

#header-title-bar {
    background-color: #00CC94;
    margin-top: 0;
    padding-bottom: 0.5%;
    border: 3px;
    width:80%;
}


#logo-header{
    margin: 1%;
    width: 20%;
}

/*navbar*/

#navbar{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #004E5A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.navbar-select{
    padding-right: 9%;
    padding-left:9%;
    color:white;
    border-right: solid;
    border-right-width: 3px;
    border-right-color: white;
}
.navbar-select:hover {
    color: #00CC94;
}

#navbar-adherent{
    border-right: transparent;
}
.dropdown button, .dropdown button:hover, .dropdown button:focus{
    background-color: transparent ;
    border: none;
}

.dropdown button:hover{
    color: #00CC94;
}




/*Accueil*/

.blocBleu{
    color: white;
    background-color: #004E5A;
    padding-left: 3%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    width: 35vw;
    justify-content: center;
}
#blocBleuRevue{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
#blocBleuColloque , #blocBleuPubli{
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}
.LastPubliRevuesAccueil {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.lastRevueAcceuil{
    margin: 0;
}

#revue-home{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #004E5A;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin:5% 10%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(186,186,186,0.5);
    box-shadow: 0px 0px 8px 5px rgba(186,186,186,0.5);

}
#publi-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #004E5A;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 5% 10%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
    box-shadow: 0px 0px 8px 5px rgba(186, 186, 186, 0.5);
}
#revue-home-img{
    width:30%;
}

#revue-home:hover{
    background-color: rgba(0, 78, 90, 0.3);
}
.publi-hover:hover{
    background-color: #004E5A;
}
.publi-hover:hover h2{
    color: white;
}
.publi-hover:hover p{
    color: white;
}
#revue-home-text{
    display: flex;
    justify-content: space-evenly;
}

.lastPubliAcceuil{
    margin: 0;
}

.blocPresentationAcceuil{
    padding : 5%;
}
.titreObj{
    color: #004E5A;
    font-size: 25px;
    font-weight: bold;
}
.blocAvecToutDedans{
    box-shadow: 0px 0px 5px #4b5563;
    margin: 20px auto;
    padding: 0;
    border-radius:15px ;
}

.lastNomAcceuil{
    width: 35vw;
    margin: 0;
    display: flex;
    justify-content: center;
}
#titre-publi{
    font-size: 25px;
}





@media screen and (max-width: 900px)
{

    #header-title h2 {
        font-size: 1.2em;
    }

    #header-title p {
        font-size: 0.7em;
    }

    #header-title {
        flex-direction: column;


    }

    #header-title a {
        justify-content: center;
        align-items: center;
        display: none;
    }

    #logo-header {
        width: 10em;
        margin:15px auto;
    }

    #navbar {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .navbar-select {
        border-right: transparent;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 0.9em;
    }

    .LastPubliRevuesAccueil{
        display: flex;
        flex-flow: column nowrap;
    }
    .blocLastPubliAcceuil p{
        display: flex;
        flex-wrap: nowrap;
        width: 90vw;
    }
    .blocBleu{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    #blocBleuPubli,#blocBleuColloque,#blocBleuRevue{
        border-radius:0;
    }
    .blocAvecToutDedans{
        box-shadow: 0px 0px 0px #4b5563;
        margin: 0px;
    }
    .publi-home-text{
        width: 100%;
    }

}


/* Style Page co et reset MDP*/
.btn-co{
    background-color: #04414d;
    color: white;
    transition: 0.5s;
}
.btn-co:hover{
    background-color: #00CC94;
}


