{% extends 'base.html.twig' %}

{% block title %}<title>Association | PCAoF</title>{% endblock %}

{% block body %}
    <div class=" container blocAvecToutDedans">
        <div class="blocPresentationAcceuil ">
            <h2>Association</h2>
            <p class="text-black text">PCAoF (Popular Culture Association of France) est une association qui regroupe des chercheurs et des amateurs et passionnés de culture populaire.</p>
            <p class="titreObj">Objectifs de l'association</p>
            <ul>
                <li>promouvoir et de développer les études et la recherche sur les cultures populaires (trans- et inter- nationales, disciplinaires, etc.)</li>
                <li>organiser des manifestations scientifiques et/ou grand public (colloques, séminaires, expositions, conférences, documentaires…)</li>
                <li>publier, de diffuser ou d’éditer des ouvrages scientifiques, essais, articles, comptes rendus, œuvres de fiction, traductions…</li>
            </ul>
        </div>
    </div>
{% endblock %}
